<tr>

  <td class="flex px-6 py-4">
    
    <div class="flex items-center text-sm font-medium leading-5 text-gray-900 ">

<%= params[@candidate]%>

      <div class="ml-4">
        <%= @candidate.email %>
      </div>

    </div>

  </td>

  <td class="px-6 py-4">
    <div class="text-sm leading-5 text-gray-500">
      <%= params[:candidate] %>
    </div>
  </td>

